<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>
        <property name="LOG_SYS_PATH">/root/logs/tool/sys</property>
        <property name="LOG_ERROR_PATH">/root/logs/tool/error</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss SSS} [%t] %-5p %c{1}:%L - %msg%n" />
        </Console>
        <!-- filePattern 切割文件的文件名规则，结尾一定要用 %i -->
        <RollingFile name="SysFile" filename="${LOG_SYS_PATH}/farm.log" filePattern="${LOG_SYS_PATH}/farm-%d{yyyy-MM-dd-HH-mm}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss SSS} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
                <!--下面任一条件为真就触发分隔文件(压缩文件需改成xxx.log.gz）-->
                <!--1-按照时间分隔-->
                <TimeBasedTriggeringPolicy interval="60" modulate="true"/>
                <!--2-按照文件大小分隔-->
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <!-- 删除策略 -->
            <DefaultRolloverStrategy>
                <!-- maxDepth=1表示当前路径，默认就是1 -->
                <Delete basePath="${LOG_SYS_PATH}" maxDepth="1">
                    <IfFileName glob="farm-*.log"/>
                    <!-- 最多备份7天，单位必须和filePattern中的最小时间单位保持一致 -->
                    <IfLastModified age="7m"/>
                    <!-- 最大容量 -->
                    <!--<IfAccumulatedFileSize exceeds="50 KB" />-->
                    <!-- 最大备份数 -->
                    <!--<IfAccumulatedFileCount exceeds="10" />-->
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="ErrorFile" filename="${LOG_ERROR_PATH}/error.log" filePattern="${LOG_ERROR_PATH}/error-%d{yyyy-MM-dd-HH-mm}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_ERROR_PATH}" maxDepth="1">
                    <IfFileName glob="error-*.log"/>
                    <IfAccumulatedFileCount exceeds="3" />
                    <!--<IfLastModified age="2m"/>-->
                    <!--<IfAccumulatedFileSize exceeds="40 KB" />-->
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="SysFile"/>
            <AppenderRef ref="ErrorFile" level = "error"/>
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>